.form-container {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 5px 10px 7px 3px rgba(0, 0, 0, 0.27);
  margin-bottom: 50px;
}

.form-floating {
  margin-top: 5px;
  margin-bottom: 5px;
}
