.form-container {
  background-color: rgb(48, 47, 47);
  padding: 20px;
  border-radius: 15px;
  margin-left: 17%;
  margin-right: 15%;
  margin-bottom: 50px;
  width: 30vw;
}

.form-floating {
  margin-top: 5px;
  margin-bottom: 5px;
}

.register-button button {
  border-radius: 15px;
  border-color: rgb(98, 98, 255);
  border-width: 5px;
  border-style: solid;
  color: rgb(98, 98, 255);
  padding: 2px, 5px;
}
