.map-container {
  display: flex;
  justify-content: space-evenly;
}

.product-container {
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 5px 10px 7px 3px rgba(0, 0, 0, 0.27);
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  width: 17.5vw;
  margin-top: 12.5%;
  }

.subscription-button button {
  border-radius: 15px;
  background-color: rgb(48, 47, 47);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  color: white;
  padding: 2px, 5px;
  margin-top: 15px;
  width: 7.5vw;
}

.product-name {
  margin-bottom: 10px;
}

.discount-box {
  background-color: rgb(48, 47, 47);
  border-radius: 15px;
  width: 25vw;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5%;
  position: absolute;
  left: 12.5%;
}

.discount-box-title {
  margin-bottom: 10px;
  color: white;
}

.discount-button {
  margin-top: 15px;
}

.discount-button button {
  border-radius: 15px;
  background-color: rgb(48, 47, 47);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  color: white;
  padding: 2px, 5px;
  width: 15vw;
}

.discount-label {
  padding-right: 45%;
  color: white;
}

.discount-input input {
  width: 20vw;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  border-style: none;
}
.product-header {
  color: white;
  margin-bottom: 30px;
}

.next-subscription-button button {
  background-color: rgb(48, 47, 47);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  color: white;
  width: 10vw;
  height: 35px;
  margin-top: 25%;
}

.next-subscription-button {
  margin-top: 13%;
}
